*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}

#errorHint, .error-hint{
    color: #f00;
    font-style: italic;
    display: block;
}
.hidden {
    display: none;
    color: #f00;
    font-style: italic;
}

.invalid{
    border: 1px solid #f00;
}

textarea{
    resize: none;
    height: 100px;
}
#buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#buttons > button{
    max-width: 100px;
    box-sizing: border-box;
}

